@import "../../../shared/styles/table.scss";
@import "../../../shared/styles/table-buttons.scss";

.table-container {
  display: inline-block;
  width: 750px;
  margin: 0 auto;
}

.mat-table-buttons {
  width: 20%!important;
}

.system-button, .delete-button {
  float: right;
}

.add-button {
  position: absolute;
  margin: 10px 25px;
}
