<div>
  <div class="table-container">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="contactName">
        <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef>Имя</th>
        <td class="table-cell" mat-cell *matCellDef="let contact">
          {{contact.contactName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="contactEmail">
        <th class="table-header" mat-header-cell mat-sort-header *matHeaderCellDef>Адрес</th>
        <td class="table-cell" mat-cell *matCellDef="let contact">
          {{contact.contactEmail}}
        </td>
      </ng-container>
      <ng-container matColumnDef="buttons">
        <th class="table-header" mat-header-cell *matHeaderCellDef>
          <button mat-raised-button class="system-button">Обновить</button>
        </th>
        <td class="table-cell" mat-cell *matCellDef="let contact">
          <button mat-button class="delete-button" (click)="onDelete(contact.contactId)">Удалить</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr class="table-row" mat-row *matRowDef="let myRowData; columns: tableColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
  <button mat-raised-button class="add-button" (click)="onAdd()">Добавить</button>
</div>
