<app-table-header title="Новое сообщение"></app-table-header>
<form [formGroup]="form">
  <div class="destination">
    <ng-container formArrayName="destinationEmails">
      <div class="destination__email">
        <ng-container *ngFor="let destinationEmail of destinationEmails.controls; let i = index">
          <div [formGroup]="destinationEmail">
            <mat-form-field appearance="outline" class="destination__email__title">
              <input matInput
                     formControlName="title"
                     placeholder="Кому">
            </mat-form-field>
            <mat-icon *ngIf="i > 0" class="delete-btn"
                      (click)="onDeleteDestination(i)">
              delete_forever</mat-icon>
          </div>
        </ng-container>
      </div>

    </ng-container>
    <div class="destination__service">
      <mat-form-field appearance="outline" class="destination__service__field">
        <mat-label>Сервис доставки</mat-label>
        <mat-select formControlName="chosenDeliveryService">
          <mat-option [value]="service" *ngFor="let service of deliveryServices">
            {{service.deliveryServiceName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="destination__add">
      <button mat-raised-button class="destination__add__button" (click)="onAddDestination()">
        Добавить получателя
      </button>
    </div>
  </div>


  <mat-form-field appearance="outline">
    <mat-label>Тема</mat-label>
    <input matInput formControlName="theme">
  </mat-form-field>
  <mat-form-field class="body" appearance="outline">
    <mat-label>Текст</mat-label>
    <textarea formControlName="body" matInput appLineNowrap></textarea>
  </mat-form-field>
  <mat-checkbox class="htmlCheckbox" formControlName="isHtml">HTML-письмо</mat-checkbox>
  <mat-checkbox class="htmlCheckbox" (click)="changeScheduledEnable()">Запланировать дату доставки</mat-checkbox>
  <div *ngIf="isScheduled">
    <mat-form-field appearance="outline" class="schedule-date">
      <mat-label>Запланированная дата отправки</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="scheduleDate"
             [min]="minScheduleDate" [max]="maxScheduleDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="files">
    <a mat-button class="files__add" (click)="fileInput.click()">
      <span>Добавить файл</span>
      <input #fileInput type="file" (change)="onAddFile($event)" style="display:none;"/>
    </a>
    <div class="files__block" *ngFor="let file of filesService.files; let i = index">
      <mat-icon class="files__block__close" (click)="onRemoveFile(file.id)">close</mat-icon>
      <mat-icon class="files__block__file">insert_drive_file</mat-icon>
      <div class="files__block__description">
        <span class="files__block__title">{{file.title}}</span>
      </div>
    </div>
  </div>

  <button mat-raised-button class="button__system create-message" (click)="onSubmit()">Создать</button>
</form>
