@import "../../../shared/styles/table-buttons.scss";

.destination {
  text-align: left;
  padding-bottom: 55px;

  mat-form-field {
    display: inline-block;
    vertical-align: top;
  }


  &__email {
    display: inline-block;
    width: 550px;

    &__title {
      width: 500px;
    }

    mat-icon {
      color: #db4120;
      cursor: pointer;
      height: 15px;
      margin: 15px 5px;
    }
  }

  &__service {
    float: right;
    display: inline-block;

    &__field {
      width: 210px;
    }

    mat-icon {
      float: right;
    }
  }

  &__add {
    &__button {
      display: block;
      float: left;
    }
  }
}

.files {
  vertical-align: top;
  float: left;
  width: 435px;

  &__add {
    display: block;
    width: 420px;
  }

  &__block {
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: center;
    width: 420px;
    line-height: 25px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 0 7px rgb(0 0 0 / 20%);

    &__file {
      display: inline-block;
      float: left;
      margin: 10px 0 10px 10px;
      font-size: 65px;
      width: 65px;
      height: 60px;
    }

    &__description {
      display: inline-block;
      width: 300px;
      height: 40px;
      margin: 20px 0;
    }

    &__close {
      float: right;
      font-size: 25px;
      cursor: pointer;
    }
  }
}

form {
  padding: 25px 0 0 30px;
  width: 800px;
}
mat-form-field {
  display: block;
}

textarea {
  min-height: 200px;
}

.delivery-service-block {
  display: flex;
}

.delivery-service, .schedule-date {
  width: 280px;
}

mat-checkbox {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin: 0 1.34375em 1.34375em 0;
}

.create-message {
  float: right;
}

// Checkbox color
// ----------------------------------------------------------------
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #1f98ad !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1f98ad;
}
// ----------------------------------------------------------------
