.add-button {
    width:100px;
    background-color: #7cbd7c;
    color: white;
}

.system-button {
    width: 100px;
    background-color: #1f98ad;
    color: white;
}

.delete-button {
    width: 100px;
    background-color: #fff;
    color: #CF5959;
}