.button {
  &__add {
    min-width: 100px;
    background-color: #7cbd7c;
    color: white;
  }
  &__system {
    min-width: 100px;
    background-color: #1f98ad;
    color: white;
  }
  &__delete {
    min-width: 100px;
    background-color: #fff;
    color: #CF5959;
  }
}
