@import "../../../shared/styles/table-buttons";
@import "../../../shared/styles/colors";

.details-container {
  text-align: left;
  margin: 0 30px;

  .button-back {
    float: right;
    padding-left: 7px;
    border-radius: 20px;
    background-color: $blue-color;
    color: #fff;

    mat-icon {
      padding-top: 2px;
    }
  }

  h3 {
    vertical-align: middle;
    padding-top: 13px;
    font-size: 20px;
    font-weight: 500;
  }

  div {
    margin-top: 20px;
  }

  .destination-email, .message-theme {
    position: relative;
    padding: 5px;
    border: #333 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 0px 7px rgb(0 0 0 / 20%);

    mat-icon {
      vertical-align: middle;
      line-height: 20px;
    }
  }

  .description {
    font-weight: 500;
    position: relative;
    display: inline-block;
    width: 60px;
  }

  button {
    font-size: 18px;
    padding-left: 10px;
    mat-icon {
      line-height: 21px;
    }
  }

  .theme {
    font-size: 18px;
  }

  .destination {
    font-size: 18px;
  }

  .body-title {
    font-size: 18px;
  }

  .body {
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    border: #333 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 0px 7px rgb(0 0 0 / 20%);
    margin: 5px 0;
    padding: 20px;
    font-size: 16px;
  }
}
