<div class="details-container">
  <h3>
    Информация о сообщении
    <button (click)="backToMessagesList()" mat-raised-button class="button__system button-back"><mat-icon>arrow_back</mat-icon>Назад</button>
  </h3>
  <div class="destination">
    <span class="description">Кому:</span>
    <span class="destination-email"><mat-icon>person</mat-icon>{{message?.destinationEmail || 'Почта получателя'}}</span></div>
  <div class="theme">
    <span class="description">Тема:</span>
    <span class="message-theme">{{message?.theme || 'Тема письма'}}</span></div>
  <div class="body-title">Сообщение</div>
  <p class="body">{{message?.body || 'Текст сообщения'}}</p>
  <h3>Файлы</h3>
</div>
