<h2>Новый контакт</h2>
<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Имя контакта</mat-label>
    <input matInput formControlName="contactName">
  </mat-form-field>
  <mat-form-field appearance="outline" >
    <mat-label>Адрес контакта</mat-label>
    <input matInput formControlName="contactEmail">
  </mat-form-field>
  <button mat-raised-button class="button__close" (click)="close()">Отмена</button>
  <button mat-raised-button class="button__add" (click)="submit()">Создать</button>
</form>
